.main-nav {
  padding: 15px 0;
  background-color: #c7caff;
  border-bottom: 1px solid #ccc;
  text-align: center;
}
.main-nav a {
  display: inline-block;
  padding: 8px 15px;
  text-decoration: none;
  color: #4a4d83;
  font-weight: bold;
}
